*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    /*background-color: rgba(0, 0, 0, 0.65); */
    background-color: rgba(0, 0, 0, 0.98);
    font-family: 'Yanone Kaffeesatz' ,'Poppins', sans-serif;
    
}

#myLogo{
    width: 160px;
    height: 120px;
}

.navLinks2{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links a{
    color: ghostwhite;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 22px;
}

.nav-links li{
    list-style: none;
}
.nav-links a:hover{
    color: tomato;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: ghostwhite;
    margin: 5px;
    transition: all 0.3s ease;
}
.background{
    opacity: 2;
}


body{
    background-image: url(./img/blackWallBack.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Playfair Display', sans-serif;
}
.mainD{
    position: relative;
    height: 75vh;
    width: 100%;
    padding: 60px;
    background-color: none;
    
}

.fa:hover {
    opacity: 1;
    color: tomato;
    cursor: pointer;
}
.fa-facebook{
  background: none;
  color: white;
  opacity: 0.7;
}
.fa-instagram{
  background: none;
  color: white;
  opacity: 0.7;
}

/*
.aboutImage{
    display: block;
    position: absolute;
    display: inline-block;
    float: left;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: none;
    box-sizing: border-box;
}
*/
.aboutText{
    /*
    display: block;
    position: absolute;
    display: inline-block;
    */
    float: left;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: none;
}
.aboutText {
    color: ghostwhite;
    overflow: scroll;
}

@media screen and (max-width:1024px){
    .navLinks2{
        width: 60%;
    }
    
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    
    .nav-links{
        position: absolute;
        right: 0px;
        height: 90vh;
        top: 15vh;
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5sec ease-in;
       z-index: 1;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
    .aboutText {
        color: ghostwhite;
        overflow: hidden;
    }

.nav-active{
    transform: translateX(0%);
}
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
        
    }
}

.toggle .line1{
transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}
.footer{
    /*
    position: absolute;
    bottom: -20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    max-height: 10vh;
    min-height: 5vh;
    height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    background-color: rgba(0, 0, 0, 0.7);
    font-family: 'Yanone Kaffeesatz' ,'Poppins', sans-serif;
    */
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 10vh;
    min-height: 5vh;
    /*background-color: rgba(0, 0, 0, 0.65); */
    background-color: rgba(0, 0, 0, 0.7);
    font-family: 'Yanone Kaffeesatz' ,'Poppins', sans-serif;
    
}
.footer p{
    color: ghostwhite;
    position: relative;
    top: 10px;
    
    
}
.footLinks{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.footLinks a{
    color: ghostwhite;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 22px;
    opacity: 0.7;
    width: 40%;
}
.foot{
    position: relative;
}
.foot a{
    text-align: center;
    padding: 10px;
    margin: 5px;
    float: right;
}
.copyRights{  
    position: relative;
    float: left;
    text-align: center;
    bottom: 10px;
}
.aboutText{
    overflow: hidden;
}